# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo


# Ignore log files and temporary files
*.sqlite3
*.swp
*.swo
*.log
docker-compose.override.yml
.dockerignore

