Flask==2.2.5  
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.4
Flask-Login==0.6.3
Flask-Babel==2.0.0
Flask-Cors==5.0.0
Flask-Mail==0.10.0
Flask-WTF==1.2.2
SQLAlchemy==2.0.36
python-dotenv==1.0.0
weasyprint==63.1
python-docx==1.1.2
matplotlib==3.9.2
mysql-connector-python==9.2.0
Werkzeug==2.2.3   
Jinja2==3.1.2
Pillow==10.2.0
lxml==5.1.0
cssselect2==0.7.0
tinycss2==1.4.0
Pyphen==0.14.0
beautifulsoup4
lxml
