{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block navbar %}
    <!-- Moderator function -->
    <!-- Moderator function -->
    {% if user.is_mod %}
    <li class="nav-item dropdown mr-5">
        <a class="nav-link dropdown-toggle" href="#" id="viewQuestionsDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Verify Questions
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="viewQuestionsDropdown">
            {% for subject in department_subjects %}
            <a class="dropdown-item" href="/mod_questions/{{ subject.id }}">
                {{ subject.name }} ({{ subject.code }})
            </a>
            {% endfor %}
        </div>
    </li>
    {% endif %}

    <!-- Add questions -->
    <li class="nav-item dropdown mr-5">
        <a class="nav-link dropdown-toggle" href="#" id="addQuestionsDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Questions
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="addQuestionsDropdown">
            {% for subject in subjects %}
            <a class="dropdown-item" href="/add_questions/{{ subject.id }}">
                {{ subject.name }} ({{ subject.code }})
            </a>
            {% endfor %}
        </div>
    </li>

    <!-- View questions -->
    <li class="nav-item dropdown mr-5">
        <a class="nav-link dropdown-toggle" href="#" id="viewQuestionsDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View Questions
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="viewQuestionsDropdown">
            {% for subject in subjects %}
            <a class="dropdown-item" href="/view_questions/{{ subject.id }}">
                {{ subject.name }} ({{ subject.code }})
            </a>
            {% endfor %}
        </div>
    </li>

    <li class="nav-item dropdown mr-5">
        <a class="nav-link dropdown-toggle" href="#" id="generateQPDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Question Paper
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="viewQuestionsDropdown">
            <a class="dropdown-item" href="/auto_generate_qp">
                Auto generate qp
            </a>
            <a class="dropdown-item" href="/manual_generate_qp">
                Manually generate qp
            </a>
        </div>
    </li>

    <!-- My profile -->
    <li class="nav-item mr-5">
        <a class="nav-link" href="{{ url_for('views.profile') }}">My Profile</a>
    </li>

    <!-- Logout -->
    <a class="nav-item nav-link mr-5" id="logout" href="/logout">Logout</a>
{% endblock %}

{% block content %}
<form method="POST" class="d-flex flex-column justify-content-center align-items-center mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 d-flex flex-column align-items-center mt-4">
                <button type="submit" name="action" value="add-teacher" class="btn btn-outline-light rounded-pill px-5 py-3 mb-3" style="font-size: 1.1rem;">
                    Add teacher
                </button>
                <button type="submit" name="action" value="view-teachers" class="btn btn-outline-light rounded-pill px-5 py-3 mb-3" style="font-size: 1.1rem;">
                    View teachers
                </button>
            </div>

            <div class="col-12 col-md-4 d-flex flex-column align-items-center mt-4">
                <button type="submit" name="action" value="add-subject" class="btn btn-outline-light rounded-pill px-5 py-3 mb-3" style="font-size: 1.1rem;">
                    Add subject
                </button>
                <button type="submit" name="action" value="view-subjects" class="btn btn-outline-light rounded-pill px-5 py-3 mb-3" style="font-size: 1.1rem;">
                    View subjects
                </button>
            </div>

            <div class="col-12 col-md-4 d-flex flex-column align-items-center mt-4">
                <button type="submit" name="action" value="allocate-subject" class="btn btn-outline-light rounded-pill px-5 py-3 mb-3" style="font-size: 1.1rem;">
                    Allocate subjects
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
